<!doctype html>
<html>
   <body>
      <table border = 1>
            <tr>
               <th>Name</th>
               <th>{{ value }}</th>
            </tr>
            <tr>
               <th>Student Number</th>
               <th>{{ value }}</th>
            </tr>
            <tr>
               <th>Gender</th>
               <th>{{ value }}</th>
            </tr>
            <tr>
               <th>Major</th>
               <th>{{ value }}</th>
            </tr>
      </table>
      <p><input type = "submit" value = "MODIFY" /></p>
      <p><input type = "submit" value = "SUBMIT" /></p>
      
   </body>
</html>